{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MOLLA</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
</head>

<body>
    <div class="wrapper">
      <header class="header">
        <div class="container">
          <div class="header__inner">
            <a class="logo" href="{% url 'index' %}" >
              <img src={% static "images/logo-05.png" %} alt="">
            </a>
            <nav class="menu">
              <ul class="menu__list">
                <li class="menu__list-item">
                  <a class="menu__list-link" href="{% url 'chairs' %}">Кресла</a>
                </li>
                <li class="menu__list-item">
                  <a class="menu__list-link" href="#">Комплектующие</a>
                </li>
                <li class="menu__list-item">
                  <a class="menu__list-link" href="#contacts">Контакты</a>
                </li>
              </ul>
            </nav>
            <a class="cart" href="cart.html" >
              <div class="cart__img"></div>
            </a>
          </div>
        </div>
      </header>

      <script src={% static "js/main.min.js" %}></script>
</body>
    
</html>